extends layouts/main-layout.pug

block content
    .flex-container.align-center-middle
        .form
            .grid-container
                .grid-x.grid-padding-x
                    .medium-6.cell
                        label Name:
                            input(type="text", placeholder="First Name")
                    .medium-6.cell
                            input(type="text", placeholder="Last Name")
                    .medium-6.cell
                        label Contact Information:
                            input(type="tel")
                    .medium-6.cell
                            input(type="email")



