doctype html
html
    head
        meta(name = "viewport" content = "width = device-width, initial-scale = 1")
        link(rel='stylesheet', href='/css/foundation.css', type='text/css')
        link(rel='stylesheet', href='/css/app.css', type='text/css')
        title #{title}
        //script(src='/js/foundation.js', crossorigin="anonymous")
        //script(src='/js/jquery.js')
        //script(scr='/js/what-input.js')
    body
        h4.menu.align-left Naturelle Therapies
        ul.vertical.medium-horizontal.menu.top-bar-right.align-right
            li
                a(href="#")
                    i.fi-list
                    span Home
            li
                a(href="#")
                    i.fi-list
                    span About
            li
                a(href="#")
                    i.fi-list
                    span Contact
